table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

.p {
  margin-left: 40px;
  font-size: small;
}

.heading {
  margin-left: 40px;
  font-size: medium;
  font-weight: bold;
  color: #a30909;
}

.main {
  margin-left: 40px;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.tab {
  padding-left: 4;
}

.h {
  margin-left: 40px;
  font-size: medium;
}

.block-example {
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
  background-color: "#d40404";
  display: inline-block;
}
